<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145837257669-s8l1kedrrj942hvl2nia4qtv26ht0htd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145837257669-s8l1kedrrj942hvl2nia4qtv26ht0htd</string>
	<key>API_KEY</key>
	<string>AIzaSyC6tKE5WJRESq3dNJmmVY1HW1uqN-vx7xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>145837257669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahoney.Recipefy</string>
	<key>PROJECT_ID</key>
	<string>recipefy-738ce</string>
	<key>STORAGE_BUCKET</key>
	<string>recipefy-738ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145837257669:ios:8e565cfb10a409548f91ac</string>
</dict>
</plist>